{
  "packageRegex": {
    "drupal": [
      {
        "location": "/*/**/core/modules/syslog",
        "file_regex": "*info.yml",
        "content_version_regex": "version:\\s+\\'(.*)\\'",
        "content_product_regex": "project:\\s+\\'(.*)\\'"
      },
      {
        "location": "/*/**/modules/syslog",
        "file_regex": "syslog.info",
        "content_version_regex": "version\\s+=\\s+\"(.*)\"",
        "content_product_regex": "project\\s+=\\s+\"(.*)\""
      }
    ],
    "nginx": [
      {
        "location": "/*/**/s2i/",
        "file_regex": "usage",
        "content_version_regex": "--\\w+-\\w+\\W([^ \\/]+)",
        "content_product_regex": "nginx"
      }
    ],
    "jre": [
      {
        "location": "/*/**/jre.*/",
        "file_regex": "release",
        "content_version_regex": "JAVA_VERSION=\\\"([^\\\"]+)",
        "content_product_regex": "jre"
      }
    ],
    "openssl": [
      {
        "location": "/*/**/s2i/",
        "file_regex": "usage",
        "content_version_regex": "--\\w+-\\w+\\W([^ \\/]+)",
        "content_product_regex": "openssl"
      }
    ],
    "mysql": [
      {
        "location": "/*/**/mysql/",
        "file_regex": "mysql_upgrade_info",
        "content_version_regex": "\\\\d+(\\\\.\\\\d+)*",
        "content_product_regex": "mysql"
      }
    ],
    "kibana": [
      {
        "location": "/*/**/kibana/",
        "file_regex": "package.json",
        "content_version_regex": "\\\"version\\\": \\\"(\\\\d\\\\.\\\\d\\\\.\\\\d)\\\"",
        "content_product_regex": "kibana"
      }
    ],
    "go": [
      {
        "location": "/*/**/go/",
        "file_regex": "VERSION",
        "content_version_regex": "^go(\\d*.\\d*.\\d*)",
        "content_product_regex": "go"
      }
    ],
    "php": [
      {
        "location": "/*/**/bin/",
        "file_regex": "php-config",
        "content_version_regex": "\\\"(\\d+.*)\\\"",
        "content_product_regex": "php"
      }
    ],
    "ruby": [
      {
        "location": "/*/**/pkgconfig/",
        "file_regex": "ruby-*\\d*.*\\d*.pc",
        "content_version_regex": "RUBY_PROGRAM_VERSION=(\\d+.\\d+.\\d+)",
        "content_product_regex": "ruby"
      }
    ],
    "rabbitmq": [
      {
        "location": "/*/**/ebin/",
        "file_regex": "rabbit.app",
        "content_version_regex": "{vsn, \"(\\d\\.\\d\\.?\\d*)\"}",
        "content_product_regex": "rabbitmq"
      }
    ],
    "fluentd": [
      {
        "location": "/*/**/lib/fluent/",
        "file_regex": "version.rb",
        "content_version_regex": "^\\s+VERSION\\s\\W\\s'([^ ']+)",
        "content_product_regex": "fluentd"
      }
    ],
    "maven": [
      {
        "location": "/*/**/.*maven.*/",
        "file_regex": "LICENSE",
        "content_version_regex": "org\\.apache\\.maven:maven-core:jar:(\\d\\.\\d\\.?\\d*)",
        "content_product_regex": "maven"
      }
    ],
    "logstash": [
      {
        "location": "/*/**/logstash/",
        "file_regex": "version.rb",
        "content_version_regex": "LOGSTASH_VERSION|logstash-core \\(.*(\\d.\\d.\\d).*\\)|= \"(\\d.\\d.\\d)\"",
        "content_product_regex": "logstash"
      }
    ],
    "httpd": [
      {
        "location": "/*/**/build/",
        "file_regex": "config_vars.mk",
        "content_version_regex": "HTTPD_VERSION\\s=\\s+([^ \\s]+)",
        "content_product_regex": "httpd"
      }
    ],
    "joomla": [
      {
        "location": "/*/**/manifests/files/",
        "file_regex": "joomla.xml",
        "content_version_regex": "<version>([^<]+)",
        "content_product_regex": "joomla"
      }
    ],
    "squid": [
      {
        "location": "/*/**/",
        "file_regex": "squid.conf",
        "content_version_regex": "WELCOME TO SQUID\\s([^ \\s]+)",
        "content_product_regex": "squid"
      }
    ],
    "mongodb": [
      {
        "location": "/*/**/",
        "file_regex": "mongoVer.txt",
        "content_version_regex": "version\\s+v([\\d.+]+)",
        "content_product_regex": "mongodb"
      }
    ],
    "redis": [
      {
        "location": "/*/**/",
        "file_regex": "redisVer.txt",
        "content_version_regex": "redis-cli\\s+([\\d.+]+)",
        "content_product_regex": "redis"
      }
    ],
    "postgresql": [
      {
        "location": "/*/**/include/",
        "file_regex": "pg_config.h",
        "content_version_regex": "#define PG_VERSION \"(\\d*.\\d*.\\d*)\"",
        "content_product_regex": "postgresql"
      }
    ],
    "elasticsearch": [
      {
        "location": "/*/**/",
        "file_regex": "elasticsearchVer.txt",
        "content_version_regex": "Version:\\s+([\\d.+]+)",
        "content_product_regex": "elasticsearch"
      }
    ],
    "struts": [
      {
        "location": "/usr/libexec/s2i/",
        "file_regex": "usage",
        "content_version_regex": "--\\w+-\\w+\\W([^ \\/]+)",
        "content_product_regex": "struts"
      }
    ],
    "tomcat": [
      {
        "location": "/*/**/tomcat/",
        "file_regex": "RELEASE-NOTES",
        "content_version_regex": "^\\s+Apache\\sTomcat\\sVersion\\s([^\\s]+)",
        "content_product_regex": "tomcat"
      }
    ],
    "pypi": [
      {
        "location": "/*/**/",
        "file_regex": "pypi.versions",
        "content_version_regex": "Bundle-Version:\\s+([\\d.+]+)",
        "content_product_regex": "pypi"
      }
    ],
    "composer": [
      {
        "location": "/*/**/",
        "file_regex": "composer.versions",
        "content_version_regex": "Bundle-Version:\\s+([\\d.+]+)",
        "content_product_regex": "composer"
      }
    ],
    "golang": [
      {
        "location": "/*/**/",
        "file_regex": "golang.versions",
        "content_version_regex": "v([\\d.+]+)",
        "content_product_regex": "golang"
      }
    ],
    "rubygems": [
      {
        "location": "/*/**/",
        "file_regex": "rubygems.versions",
        "content_version_regex": "\\(([\\d.+?]+)\\)",
        "content_product_regex": "rubygems"
      }
    ],
    "npmjs": [
      {
        "location": "/*/**/",
        "file_regex": "npm.versions",
        "content_version_regex": "\\(([\\d.+?]+)\\)",
        "content_product_regex": "npmjs"
      }
    ],
    "nuget": [
      {
        "location": "/*/**/",
        "file_regex": "nuget.versions",
        "content_version_regex": "\\(([\\d.+?]+)\\)",
        "content_product_regex": "nuget"
      }
    ]
  }
}
