authorizenet
beautifulsoup4
boto3
botocore
Flask
Flask_AutoIndex
Flask_Cors
Flask_HTTPAuth
flask_jwt
Flask-JWT-Extended==4.5.2
Flask_Mail
Flask_SQLAlchemy
python-gitlab
itsdangerous
kubernetes
MechanicalSoup
mysql_connector_repackaged
openpyxl
passlib
pdfkit
psycopg2
pyOpenSSL
requests
selenium
semantic_version
setuptools
tqdm
waitress
Werkzeug
xlwt
gunicorn
jsondiff
xmltodict
rabbitmq
celery==4.4.6
docker==4.4.1
Evtx==0.7.3
glob2==0.7
python-evtx==0.7.4
requests==2.18.4
